html {
  background: url(../peter_sciberras_website/Images/Fiji.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

#movember {
  margin-left: 80px;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 140px;
  left: 900px;
  
  
}

h1 {
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 5mm;
  font-style: italic; 
  font-weight: lighter;
  position: absolute;
  top: 15px;
  left: 50px;
  
}

h2 {
  color: #ffffff;
  font-size: 40mm;
  font-weight: normal;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: -10px;
  left: 25px;
}

p1 {
  color: #ffffff;
  font-size: 4mm;
  font-style: italic; 
  font-weight: lighter;
  position: absolute;
  top: 300px;
  left: 50px;
  max-width: 200px;
}
